<section id="our-products" class="our-products-section section">
  <div class="our-product-container container">
    <h2 class="our-product-title">
      Our<span class="our-product-title-part-color"> pRODUCTS </span>
    </h2>
    <div class="our-product-swiper">
      <ul class="our-product-list list">
        <li class="reviews-item swiper-slide">
          <div class="our-product-item-review">
            <div class="our-product-item-block">
              <img
                srcset="./img/images-our-products/choko1@2x.jpg 2x"
                src="./img/images-our-products/choco1.jpg"
                alt="Bar of chocolate"
                class="our-products-img"
                loading="lazy"
              />
              <h3 class="our-product-item-name">ORANGE</h3>
              <p class="our-product-item-comment-name">Dark chocolate</p>
              <p class="our-product-item-price-ua">45 UAH</p>
            </div>
          </div>
        </li>
        <li class="our-product-item swiper-slide swiper-slide-two">
          <div class="our-product-item-review">
            <div class="our-product-item-block our-product-item-block-two">
              <img
                srcset="./img/images-our-products/choco2@2x.jpg 2x"
                src="./img/images-our-products/choco2.jpg"
                alt="Bar of chocolate"
                class="our-products-img"
                loading="lazy"
              />
              <h3 class="our-product-item-name">APPLE&CRANBERRY</h3>
              <p class="our-product-item-comment-name">Milk chocolate</p>
              <p class="our-product-item-price-ua">50 UAH</p>
            </div>
          </div>
        </li>
        <li class="our-product-item swiper-slide swiper-slide-three">
          <div class="our-product-item-review">
            <div class="our-product-item-block our-product-item-block-three">
              <img
                srcset="./img/images-our-products/choco3@2x.jpg 2x"
                src="./img/images-our-products/choco3.jpg"
                alt="Bar of chocolate"
                class="our-products-img"
                loading="lazy"
              />
              <h3 class="our-product-item-name">Classic</h3>
              <p class="our-product-item-comment-name">White chocolate</p>
              <p class="our-product-item-price-ua">54 UAH</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
