<section class="section sellers">
  <div class="container">
    <h2 class="sellers-subtitle">
      <span class="sellers-subtitle-text">TOP </span> SELERS
    </h2>
    <div class="sellers-container">
      <ul class="sellers-list list">
        <li class="sellers-item">
          <picture>
            <!-- DESKTOP_IMG -->
            <source
              srcset="
                ./img/top_sellers/chocolad-desktop.webp    1x,
                ./img/top_sellers/chocolad-desktop@2x.webp 2x
              "
              media="(min-width:1200px)"
              type="image/webp" />
            <source
              srcset="
                ./img/top_sellers/chocolad-desktop.jpg    1x,
                ./img/top_sellers/chocolad-desktop@2x.jpg 2x
              "
              media="(min-width:1200px)" />

            <!-- TABLET_IMG -->
            <source
              srcset="
                ./img/top_sellers/chocolad-tablet.webp    1x,
                ./img/top_sellers/chocolad-tablet@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp" />
            <source
              srcset="
                ./img/top_sellers/chocolad-tablet.jpg    1x,
                ./img/top_sellers/chocolad-tablet@2x.jpg 2x
              "
              media="(min-width:768px)" />

            <!-- MOBILE_IMG -->
            <source
              srcset="
                ./img/top_sellers/chocolad-mobile.webp    1x,
                ./img/top_sellers/chocolad-mobile@2x.webp 2x
              "
              media="(min-width:320px)"
              type="image/webp" />
            <source
              srcset="
                ./img/top_sellers/chocolad-mobile.jpg    1x,
                ./img/top_sellers/chocolad-mobile@2x.jpg 2x
              "
              media="(min-width:320px)" />

            <img
              class="sellers-img"
              src="./img/top_sellers/chocolad-mobile.jpg"
              alt="Chocolate coffee nuts"
          /></picture>
        </li>
        <li class="sellers-item">
          <picture>
            <!-- DESKTOP_IMG -->
            <source
              srcset="
                ./img/top_sellers/chocolad-two-desktop.webp    1x,
                ./img/top_sellers/chocolad-two-desktop@2x.webp 2x
              "
              media="(min-width:1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/top_sellers/chocolad-two-desktop.jpg    1x,
                ./img/top_sellers/chocolad-two-desktop@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />

            <!-- TABLET_IMG -->
            <source
              srcset="
                ./img/top_sellers/chocolad-two-tablet.webp    1x,
                ./img/top_sellers/chocolad-two-tablet@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/top_sellers/chocolad-two-tablet.jpg    1x,
                ./img/top_sellers/chocolad-two-tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />

            <!-- MOBILE_IMG -->
            <source
              srcset="
                ./img/top_sellers/chocolad-two-mobile.webp    1x,
                ./img/top_sellers/chocolad-two-mobile@2x.webp 2x
              "
              media="(min-width:320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/top_sellers/chocolad-two-mobile.jpg    1x,
                ./img/top_sellers/chocolad-two-mobile@2x.jpg 2x
              "
              media="(min-width:320px)"
            />

            <img
              class="sellers-img"
              src="./img/top_sellers/chocolad-two-mobile.jpg"
              alt="Milk chocolate with raisins"
            />
          </picture>
        </li>
        <li class="sellers-item sellers-last-img">
          <picture>
            <!-- DESKTOP_IMG -->
            <source
              srcset="
                ./img/top_sellers/chocolad-thrid-desktop.webp    1x,
                ./img/top_sellers/chocolad-thrid-desktop@2x.webp 2x
              "
              media="(min-width:1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/top_sellers/chocolad-thrid-desktop.jpg    1x,
                ./img/top_sellers/chocolad-thrid-desktop@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />

            <img
              class="sellers-img"
              src="./img/top_sellers/chocolad-thrid-desktop.jpg"
              alt="A tower of chocolate and candies"
            />
          </picture>
        </li>
      </ul>
      <div class="sellers-content">
        <p class="sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button type="button" class="sellers-btn">Buy now</button>
      </div>
    </div>
    <div class="sellers-mobile">
      <div class="sellers-mobile-first-card">
        <ul class="sellers-list-mobile list">
          <li class="sellers-item">
            <picture>
              <!-- MOBILE_IMG -->
              <source
                srcset="
                  ./img/top_sellers/chocolad-mobile.webp    1x,
                  ./img/top_sellers/chocolad-mobile@2x.webp 2x
                "
                media="(min-width:320px)"
                type="image/webp" />
              <source
                srcset="
                  ./img/top_sellers/chocolad-mobile.jpg    1x,
                  ./img/top_sellers/chocolad-mobile@2x.jpg 2x
                "
                media="(min-width:320px)" />

              <img
                class="sellers-img"
                src="./img/top_sellers/chocolad-mobile.jpg"
                alt="Chocolate coffee nuts"
            /></picture>
          </li>
          <li class="sellers-mobile-tex">
            <p class="sellers-text">
              Crazy enough chocolate originates from a bean just like the coffee
              bean called Cacao. Cacao has been around for thousands of years
              and was first discovered by the Native American tribe called the
              Mayans.
            </p>
          </li>
        </ul>
      </div>
      <div class="sellers-mobile-second-card">
        <ul class="sellers-list-mobile list">
          <li class="sellers-item">
            <picture>
              <!-- MOBILE_IMG -->
              <source
                srcset="
                  ./img/top_sellers/chocolad-two-mobile.webp    1x,
                  ./img/top_sellers/chocolad-two-mobile@2x.webp 2x
                "
                media="(min-width:320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/top_sellers/chocolad-two-mobile.jpg    1x,
                  ./img/top_sellers/chocolad-two-mobile@2x.jpg 2x
                "
                media="(min-width:320px)"
              />

              <img
                class="sellers-img"
                src="./img/top_sellers/chocolad-two-mobile.jpg"
                alt="Milk chocolate with raisins"
              />
            </picture>
          </li>
          <li class="sellers-mobile-btn">
            <button type="button" class="sellers-btn">Buy now</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
