<!--! Виконує Кутурланова Марина -->
<section class="unique-components">
  <div class="container">
    <h2 class="unique-components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
    </h2>
    <p class="unique-components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-components-list list">
      <li class="unique-component-item">
        <div class="unique-component-flip-card unique-component-first-card">
          <div class="unique-component-flip-card-inner">
            <div class="unique-component-flip-card-front">
              <img
                class="unique-component-flip-card-img"
                src="/img/unique_components/tablet_mobile/chocolate_bar_tabletmobile.png"
                alt="Chocolate Bar"
                style="width: 224px; height: 171px"
              />
              <p class="unique-component-flip-card-name">mILK CHOCOLATE</p>
            </div>
            <div class="unique-component-flip-card-back">
              <h2 class="unique-component-flip-card-back-name">
                Milk chocolate
              </h2>
              <p class="unique-component-flip-card-back-text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. Although four-fifths of all
                milk chocolate is sold in the United States and Europe.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-component-item">
        <div class="unique-component-flip-card unique-component-second-card">
          <div class="unique-component-flip-card-inner">
            <div class="unique-component-flip-card-front">
              <img
                class="unique-component-flip-card-img"
                src="/img/unique_components/tablet_mobile/milk_tabletmobie.png"
                alt="Milk"
                style="width: 224px; height: 171px"
              />
              <p class="unique-component-flip-card-name">mILK</p>
            </div>
            <div class="unique-component-flip-card-back">
              <h2 class="unique-component-flip-card-back-name">Milk</h2>
              <p class="unique-component-flip-card-back-text">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food.Early-lactation milk, which is called
                colostrum, contains antibodies that strengthen the immune
                system.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-component-item">
        <div class="unique-component-flip-card unique-component-third-card">
          <div class="unique-component-flip-card-inner">
            <div class="unique-component-flip-card-front">
              <img
                class="unique-component-flip-card-img"
                src="/img/unique_components/tablet_mobile/nuts_tabletmobile.png"
                alt="Nuts"
                style="width: 224px; height: 171px"
              />
              <p class="unique-component-flip-card-name">nUTS</p>
            </div>
            <div class="unique-component-flip-card-back">
              <h2 class="unique-component-flip-card-back-name">Nuts</h2>
              <p class="unique-component-flip-card-back-text">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They’re a good source of
                fiber, healthy fats, and plant protein. Plus, they’re great on
                their own.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-component-item">
        <div class="unique-component-flip-card unique-component-fourth-card">
          <div class="unique-component-flip-card-inner">
            <div class="unique-component-flip-card-front">
              <img
                class="unique-component-flip-card-img"
                src="/img/unique_components/tablet_mobile/chocolate_drops_tabletmobile.png"
                alt="Chocolate Drops"
                style="width: 224px; height: 171px"
              />
              <p class="unique-component-flip-card-name">
                sEMI - SWEET CHOCOLATE
              </p>
            </div>
            <div class="unique-component-flip-card-back">
              <h2 class="unique-component-flip-card-back-name">
                semi - sweet chocolate
              </h2>
              <p class="unique-component-flip-card-back-text">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison,
                it has a slightly bitter taste whereas milk chocolate is sweeter
                and more mellow.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
