* MOBILE */ .our-product-section,
.our-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-product-container {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.our-product-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.our-product-title-part-color {
  color: var(--orange-color);
}

.our-product-list {
  display: flex;
}

.our-product-item {
  position: relative;
}

.our-product-item-review {
  margin-top: 32px;
}

.our-product-item-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 50px;
  background-color: var(--white-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.our-product-item-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33; /* 24px/18 */
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin-top: 8px;
}
.our-product-item-comment-name {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.24px;
}
.our-product-item-price-ua {
  margin-top: 18px;
  width: 96px;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: var(--body-bc);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 0);
}

.scroll-item {
  fill: var(--orange-color);
}

.our-product-swiper {
  width: 335px;
  height: 100%;
}

@media screen and (max-width: 374px) {
  .swiper-slide-three,
  .swiper-slide-two {
    display: none;
  }
  .our-product-item-block-two,
  .our-product-item-block-three {
    display: none;
  }
  .our-product-swiper {
    width: 100%;
  }

  .our-product-container {
    width: 100%;
  }
}

.img-circle {
  border-radius: 50%;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.1);
  border: 50%;
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  background-color: var(--orange-color);
  border-radius: 25px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

/* .reviews-swiper-icon { */
/* display: flex; */
/* gap: 13px; */
/* } */

.our-product-icon-ellips {
  fill: var(--orange-color);
}

.our-product-icon-circle {
  fill: rgba(17, 17, 17, 0.1);
}

.our-product-swiper-block {
  display: flex;
  justify-content: center;
  gap: 13px;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .our-product-list {
    gap: 16px;
  }
  .our-product-swiper {
    width: 344px;
    overflow: visible;
    margin-left: 0;
  }
  /* .reviews-item:nth-child(3) { */
  /* margin-left: 50px; */
  /* } */
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
  .our-product-list {
    gap: 28px;
  }

  .our-product-swiper {
    width: 360px;
  }

  /* .reviews-item:nth-child(3) { */
  /* margin-left: 0; */
  /* } */
}
