.subscribe-container {
    display: block;
    text-align: center;

}

.subscribe-main {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/our-new-chocolate/subcribe-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 62px;
    padding-bottom: 63px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .subscribe-main {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url('../images/subscribe-mobile@2x.jpg');
    }
}

@media screen and (min-width: 375px) {
    .subscribe-container {
        width: 375px;
        margin: 0 auto;
    }
}


.subscribe-item {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 291px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    text-align: center;

}

.subscribe-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width: 326px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    text-align: center;
}

.subscribe-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #FFFFFF;
    background-color: #FD9222;
    border: none;
    border-radius: 100px;
    display: inline-block;
    border: 1px solid transparent;
    padding: 12px 28px;
    min-width: 128px;
    text-align: center;
}


/* @media screen and (min-width: 768px) {
    .subscribe-container {
        width: 768px;
        margin: 0 auto;
    }
} */

@media screen and (min-width:768px) {
    .subscribe-item {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 378px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
        text-align: center;
    }

 .subscribe-text {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.3;
     text-align: center;
     letter-spacing: -0.02em;
     color: #FFFFFF;
     width: 467px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 24px;
     text-align: center;
 }

    .subscribe-btn {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.22;
        color: #FFFFFF;
        background-color: #FD9222;
        border-radius: 100px;
        border: none;
        display: block;
        padding: 14px 40px;
        border: 1px solid transparent;
        min-width: 172px;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (min-width:768px) {
    .subscribe-container {
        width: 768px;
    }
}

@media screen and (min-width: 768px) {
    .subscribe-container {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/our-new-chocolate/subcribe-tablet.jpg');
        padding-top: 72px;
        padding-bottom: 72px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .subscribe-main {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url('../img/our-new-chocolate/subcribe-tablet@2x.jpg');
    }
}

@media screen and (min-width: 1200px) {
    .subscribe-container {
        width: 1200px;
    }

        .subscribe-item {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 378px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24px;
            text-align: center;
        }
    
        .subscribe-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.3;
            text-align: center;
            letter-spacing: -0.02em;
            color: #FFFFFF;
            width: 467px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24px;
            text-align: center;
        }
    
        .subscribe-btn {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.22;
            color: #FFFFFF;
            background-color: #FD9222;
            border-radius: 100px;
            border: none;
            display: block;
            padding: 14px 40px;
            border: 1px solid transparent;
            min-width: 172px;
            text-align: center;
            margin: 0 auto;
        }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../img/our-new-chocolate/subcribe-desktop.jpg');

    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .subscribe-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../img/our-new-chocolate/subcribe-desktop@2x.jpg');
    }
}

                                /* -----------МОДАЛЬНЕ ВІКНО------------- */
 /* .subscribe-main {
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/our-new-chocolate/subcribe-mobile.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     padding-top: 62px;
     padding-bottom: 63px;
     max-width: 1440px;
     margin-left: auto;
     margin-right: auto;

 } */

  .backdrop {
      /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/our-new-chocolate/subcribe-mobile.jpg'); */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      /* background: #FAFAFA; */
      border-radius: 15px;
      /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
          visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  }

  .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 350px;
      min-width: 311px;
      background-color: #FFFFFF;
      /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); */
      border-radius: 15px;
      /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
      /* padding-left: 24px;
      padding-right: 24px; */
      /* padding-top: 32px; */
      padding-bottom: 32px;
  }

  .modal-close-btn {
      position: absolute;
      top: 15px;
      right: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 2px solid #FFFFFF;
      width: 24px;
      height: 24px;
      padding: 0;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border: 1px solid rgba(0, 0, 0, 0.1);
  }


  .modal-close-btn .modal-close-icon {
    fill: #FFFFFF;
  }

  .modal-form {
    position: relative;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      padding-left: 24px;
      padding-right: 24px;
  }

  .modal-form-message {
      resize: none;
      width: 100%;
      height: 120px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
      padding: 8px 16px;
      border-radius: 4px;
      background-color: transparent;
      padding: 8px 16px;
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border-color: #4D5AE5;
      border: 1px solid rgba(46, 47, 66, 0.2);
      margin-bottom: 16px;
  }

  .modal-form-subscribe {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    width: 100px;
    height: 45px;
    margin-left: 163px;
    top: 0px;
    background: #FD9222;
    border-radius: 100px;
    /* margin: 0; */
    border: none;
  }

  .modal-form-input {
    display: flex;
    flex-direction: row;
    /* width: 163px; */
    align-items: flex-start;
    padding: 14px 18px;
    gap: 40px;
    width: 263px;
    height: 45px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 25px;
    box-sizing: border-box;
    /* background-color: #E2E2E2; */
  }

  .modal-form-input::placeholder {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: rgba(64, 64, 64, 0.3);
  }

  .photo-chocolate {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 169px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 32px;
  }

  .text-modal-open {
    width: 263px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: center;
    margin-bottom: 24px;
  }

  .subscribe-item-page {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FD9222;
  }

  .mini-text-modal {
 
  
  }
  